@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
}
body{
  background-color : rgba(67, 76, 204, 0.0515);
}
/* shashank */

/* shashank */

/* Main content */
.body{
  display: flex;
  box-sizing: border-box;
  padding: 64px 135px ;
}
/* Main content */

/* Anjali */
.body-left div:nth-child(2),div:nth-child(3){
  margin-top:20px;
}

.body-left .cardsl{
    height: 750px;
    width: 790px;
    box-shadow: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.body-left .imagel{
    width: 750px;
    height: 416px;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
.body-left .hl{
    width: 98px;
    height: 24px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 24px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}
.body-left .pl{
   height: 64px; 
   width: 746px;
   font-size: 56px;
   font-weight: 400px;
   line-height: 64px;
   margin-top: 10px;
   margin-left: 20px;
}
.body-left .pl2{
    width: 770px;
    height: 81px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #ac9d9d;
    margin-left: 20px;

}
.body-left .hr{
    width: 750px;
    height: 1px;
    background-color: #000000;
    opacity: 10.11%;
    margin-top: 20px;

}
.body-left .downl2{
  height: 24px;
  width: 100px;
  font-size: 16px;
  font-weight: 800px;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 35px;
  font-family: sans-serif;
}
.body-left .date{
    display: flex;
    margin-left: 370px;
    margin-top: 35px;
}
.body-left .datel{
    color: #ac9d9d;
    padding-left: 10px;

}
.body-left .namel{
    font-weight: 500;
    padding-left: 15px;
}
.body-left .imgl{
    height: 32px;
    width: 32px;
    padding-left: 15px;
    margin-top: -3px;
    
}
.body-left .downl{
    display: flex;
}
/* Anjali */
/* bhaskar */
.body-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 1px solid red ; */
  margin-left: 30px;
  box-sizing: border-box;
  padding: 10px 20px;
}
.body-right input {
  width: 100%;
  height: 48px;
  border: 1px solid #dadada;
  border-radius: 7px;
  margin-bottom: 56px;
}
.body-right input::placeholder {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  padding-left: 16px;
  padding-top: 13px;
}
.body-right h1 {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 32px;
}
.body-right .category {
  margin-bottom: 55px;
}
.body-right .list {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
}
.body-right .category hr {
  margin-top: 9px;
  margin-bottom: 14px;
  opacity: 0.3;
}
.body-right .list > p:nth-child(1) {
  font-weight: 900;
}
.body-right .recent-post {
  margin-bottom: 48px;
}
.body-right .post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.body-right .post img {
  width: 70px;
  height: 48px;
  border-radius: 5px;
}
.body-right .post .description {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 70%;
  margin-right: 20px;
}
.body-right .post .description > p:last-child {
  font-size: 12px;
  font-weight: 700;
}
.body-right .buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.body-right .tags button {
  height: 32px;
  border: 1px solid #dadada;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #434ccc;
  background-color: white;
  line-height: 24px;
  border-radius: 8px;
  padding: 0px 13px;
}
/* bhaskar */
/* Utkarsh */
footer {
  background: rgba(67, 76, 204, 0.0515);
  display: flex;
  justify-content: center;
  height: 400px;
}

footer .container {
  max-width: 1170px;
  flex-grow: 1;
  margin-top: 80px;
  display: flex;
}

footer .footer-col {
  flex-grow: 1;
}

footer .logo-social {
  flex-basis: 33.32%;
}

footer .causae {
  flex-basis: 16.66%;
}

footer .aperiri {
  flex-basis: 16.66%;
}

footer .latest-posts {
  flex-basis: 33.32%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

footer .footer-logo {
  margin-bottom: 40px;
}

footer .social {
  display: flex;
  gap: 13px;
}

footer .aboutus {
  width: 270px;
  margin-bottom: 32px;
}

footer .latest-post {
  display: flex;
  gap: 30px;
}

footer .latest-post__image {
  height: 48px;
  flex-grow: 0;
  width: 71px;
  border-radius: 8px;
}

footer .latest-post__content {
  display: flex;
  gap: 26px;
  flex-direction: column;
}

/* Utkarsh */
